<h1 class="top_title">ようこそ <strong>Bookers</strong>  へ！</h1>
<p class="top_text"><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p><p class="top_text">印象を共有し交換することができます</p>
<p><a class="top_link" href="/newbooks">start</a></p>

